include setup.py README.rst epaycosdk/utils/key_lang.json epaycosdk/utils/key_lang_apify.json
recursive-include epaycosdk/*.*
recursive-include epaycosdk/utils/*.*
recursive-include epaycosdk/test/*.*